
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<CategoryViewModel>

@foreach (var item in Model)
{
<div>
    Categories =>
    @item.CategoryID
    @item.CategoryName
    <hr />
</div>
}