@{
    ViewData["Title"] = "Home Page";
}
@{ 
    Layout = "_Layout";
}
@model List< BlogApp.Controllers.model>

@foreach (var item in Model)
	{
<div>
    @foreach (var post in item.posts)
    {
        @post.PostID
    }
    @foreach (var category in item.categories)
    {
        @category.CategoryID
    }
</div>
	}


<tag text="">
    @foreach (var item in Model)
    {
    @foreach (var tags in item.tags)
    {
        @tags.TagName
    }
    }
</tag>

