
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<RecentPostViewModel>

@foreach (var item in Model)
{
<div>
    Recent Posts =>
    @item.PostID
    @item.PostTitle
    @item.PublishDate
    <hr />
</div>
}

